body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}

.cv-container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#unique-heading{
    font-weight: bolder;
    color: navy;
    font-size: 80px;
    text-align: center;
}
h2{
    text-align: center;
    color: blue;
    text-decoration-line: underline;
    
}
h3{
   text-align: center;
    color: blue;
    text-decoration-line: underline;
}
h5{
    font-weight: bolder;
    color: white;
    background-color: navy;
    font-size: 20px;
}

p1{
   font-weight: bold;
}
p2{
    font-weight: bold;
 }

p,li{
    text-align: justify;
}

#skill-description {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #ddd;
}
